.dashboard {
  display: flex;
  height: 100%;
}

.sidebar {
  background: #161616;
  width: 200px;
  padding: 20px;
  text-align: center;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.main-content {
  width: 100%;
  padding: 20px;
}

.main-content h1 {
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  height: 100%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #ddd;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
}

.error {
  color: red;
  font-size: 12px;
}

.button3 {
  display: flex;
  justify-content: space-between;
}

.delete, .edit {
  background-color: #f44336;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  width: 48%;
}

.edit {
  background-color: #2196F3;
}
.title {
  font-size: 23px;
}

@media only screen and (max-width: 600px) {
  .dashboard {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }
}


  @media only screen and (max-width: 767px) {
    .sidebar {
      width: 100%;
      display: none;
    }
    
    .main-content {
      margin-left: 0;
    }
    
    table {
      width: 100%;
    }
    
    .button3 {
      grid-template-columns: 1fr ;
      justify-content: center;
    }
  }
  
  